body {
  font-family: Courier, monospace;
  background: #222;
  color: #fff;
  fill: #fff;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.nav-item {
  font-size: 20px;
}

.container {
  max-width: none;
  padding: 0px;
  height: 100%;
}

.jumbotron * {
  color: black;
}

.jumbotron {
  height: 100vh;
  margin-bottom: 0px;
}

.description {
  color: black;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.contactme, .caption {
  opacity: 1;
  position: absolute;
  font-size: 36px;
  padding: 10px;
  background: black;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactme {
  top: 60%;
  left: 51%;
  background: none;
}

.parallax_landing {
  background: rgba(0, 0, 0, 0.6) url("../image/code.png");
}

.parallax_Projects {
  background: url("../image/project.png");
  min-height: 400px;
}

.parallax_footer {
  background: url("../image/contactme.png");
  min-height: 200px;
}

img:hover {
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 0, 0.67);
}

.parallax_landing, .parallax_Projects, .parallax_footer {
  position: relative;
  opacity: .65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: grab;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: lightgrey;
}

span:hover {
  text-shadow: 0 0 2px #ccff00;
}

.nav-link {
  padding: 1rem;
}

.nav-link.active {
  color: white;
  background: black;
}

.nav-link:hover, .navbar-brand:hover {
  color: white;
}

.flex .container {
  display: flex;
  flex-wrap: wrap
}

@media (min-width: 320px) and (max-width: 480px) {
  .skills .container {
    flex-direction: column;
    flex-wrap: nowrap
  }
}

.flex .group {
  flex-basis: 25%
}

.flex .groupProjects {
  flex-basis: 33%
}

.groupProjects h3 {
  text-align: center;
}

ul {
  list-style-type: none;
}

.contactImage {
  width: 100px;
  height: 100px;
  margin: 10px;
}