.container {
  border: 15px dashed #85754d;
  text-align: center;
  border-radius: 100px;
  background-color: #4b2e83;
  max-width: 60%;
  margin: auto;
  color: white;
  padding: 30px;
}

h1 {
  text-transform: uppercase;
  color: white;
}

h3 span {
  border: 3px solid #e8e3d3;
  padding: 10px;
  border-radius: 20px;
}

h3 {
  margin: 30px;
}

p {
  text-align: left;
  font-size: 16px;
}